@model Forgotpasswordmodel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fumasi | Forgotpassword</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row" id="logincontainer">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        <div id="AlertsContainer">
                            @{ await Html.RenderPartialAsync("_Alerts"); }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="text-center text-sm font-weight-light">Forgot password</h5>
                            </div>
                            <form asp-action="Forgotpassword" asp-controller="Account" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label asp-for="Emailaddress" class="text-sm font-weight-light"></label>
                                                <input asp-for="Emailaddress" class="form-control form-control-sm" />
                                                <span asp-validation-for="Emailaddress" class="text-danger font-weight-bold"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-sm btn-success btn-block text-sm font-weight-light" value="Get Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <a href="@Url.Action("Login","Account")" class="btn btn-sm btn-danger btn-block text-sm font-weight-light">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

