@model DBL.Entities.Tenantcustomers
@{
    ViewData["Title"] = "AddnewCustomers";
    Layout = "~/Views/Shared/_Layoutauth.cshtml";
    var tenantstations = ViewData["tenantstations"] as List<SelectListItem>;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-white">
                <h5 class="card-text text-sm font-weight-bold">Customers Details</h5>
            </div>
            <form asp-action="AddnewCustomers" asp-controller="Customers" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Firstname"></label>
                                        <input asp-for="Firstname" class="form-control form-control-sm" />
                                        <span asp-validation-for="Firstname" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Lastname"></label>
                                        <input asp-for="Lastname" class="form-control form-control-sm" />
                                        <span asp-validation-for="Lastname" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Emailaddress"></label>
                                        <input asp-for="Emailaddress" class="form-control form-control-sm" />
                                        <span asp-validation-for="Emailaddress" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Phonenumber"></label>
                                        <input asp-for="Phonenumber" class="form-control form-control-sm" />
                                        <span asp-validation-for="Phonenumber" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Station"></label>
                                        <select asp-for="Station" class="form-control form-control-sm" id="Prodsubcategory" asp-items="@tenantstations">
                                            <option value="0">---Select Station---</option>
                                        </select>
                                        <span asp-validation-for="Station" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Customergrouping"></label>
                                        <select asp-for="Customergrouping" class="form-control form-control-sm">
                                            <option value="-1">---Select Limit value type---</option>
                                            <option value="0">Individual</option>
                                            <option value="1">Corporate</option>
                                        </select>
                                        <span asp-validation-for="Customergrouping" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Customertype"></label>
                                        <select asp-for="Customertype" class="form-control form-control-sm">
                                            <option value="-1">---Select Customer type---</option>
                                            <option value="0">Prepaid</option>
                                            <option value="1">Postpaid</option>
                                        </select>
                                        <span asp-validation-for="Customertype" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Postpaidlimit"></label>
                                        <input asp-for="Postpaidlimit" class="form-control form-control-sm" />
                                        <span asp-validation-for="Postpaidlimit" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Canaccessprtal"></label>   <span>&nbsp;&nbsp;&nbsp;&nbsp;  <input asp-for="Canaccessprtal" type="checkbox" /></span>  
                                        <span asp-validation-for="Customergrouping" class="text-danger text-sm font-weight-light"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 offset-sm-4">
                                    <input type="submit" class="btn btn-sm btn-info btn-block text-center" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>