USE [master]
GO
/****** Object:  Database [Fumasitenants]    Script Date: 10/03/2021 09:55:26 ******/
CREATE DATABASE [Fumasitenants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fumasitenants', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Fumasitenants.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fumasitenants_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Fumasitenants_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fumasitenants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fumasitenants]
GO
/****** Object:  Table [dbo].[Fumasitenants]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fumasitenants](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Tenantcode] [bigint] NOT NULL,
	[Tenantname] [varchar](100) NOT NULL,
	[Tenantkey] [varchar](100) NOT NULL,
	[Tenantstatus] [int] NOT NULL,
	[Tenantconnid] [varchar](50) NOT NULL,
	[Tenantconnkey] [varchar](100) NOT NULL,
	[Tenantconndata] [varchar](max) NOT NULL,
	[Tenantdatecreated] [datetime] NOT NULL,
	[Tenantgolivedate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Tenantname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Tenantcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Tenantkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenantstaffs]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenantstaffs](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Staffcode] [bigint] NOT NULL,
	[Tenantcode] [bigint] NOT NULL,
	[Rolecode] [bigint] NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Emailaddress] [varchar](100) NOT NULL,
	[Phonenumber] [varchar](15) NOT NULL,
	[Staffpass] [varchar](100) NOT NULL,
	[Staffpin] [varchar](100) NOT NULL,
	[Staffstatus] [int] NOT NULL,
	[Changepassword] [int] NOT NULL,
	[Changepin] [int] NOT NULL,
	[Topuplimittype] [varchar](100) NOT NULL,
	[Topuplimitvalue] [decimal](24, 2) NOT NULL,
	[Stationcode] [bigint] NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Staffcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Emailaddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vwtenantstafflogin]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Vwtenantstafflogin] AS SELECt TS.Staffcode,TS.Tenantcode,TS.Rolecode,TS.Firstname+' '+ TS.Lastname AS Fullname,TS.Emailaddress,TS.Phonenumber,TS.Staffpass,TS.Staffpin,TS.Staffstatus,TS.Topuplimittype,TS.Topuplimitvalue,TS.Stationcode,FS.Tenantname,FS.Tenantconnid,FS.Tenantconnkey,FS.Tenantconndata,FS.Tenantstatus FROM Tenantstaffs TS INNER JOIN Fumasitenants FS ON TS.Tenantcode=FS.Tenantcode
GO
/****** Object:  Table [dbo].[ItemCodes]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](5) NOT NULL,
	[Descr] [varchar](20) NOT NULL,
 CONSTRAINT [pk_ItemCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_ItemCodes_ItemCode] UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisionroles]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisionroles](
	[Permisioncode] [bigint] NOT NULL,
	[Rolecode] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisions]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisions](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Permisioncode] [bigint] NOT NULL,
	[Permisionname] [varchar](100) NOT NULL,
	[Permisiondesc] [varchar](100) NOT NULL,
	[Systemdate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Permisioncode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RunningNos]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunningNos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RunningNo] [bigint] NOT NULL,
	[ItemCode] [varchar](5) NOT NULL,
 CONSTRAINT [pk_RunningNos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_RunningNos_ItemCode] UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffroles]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffroles](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Rolecode] [bigint] NOT NULL,
	[Rolename] [varchar](100) NOT NULL,
	[Roledescription] [varchar](100) NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Rolecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fumasitenants] ADD  DEFAULT ((99)) FOR [Tenantcode]
GO
ALTER TABLE [dbo].[Fumasitenants] ADD  DEFAULT ('Defautl Tenant') FOR [Tenantname]
GO
ALTER TABLE [dbo].[Fumasitenants] ADD  DEFAULT ('0000-0000-0000-0000') FOR [Tenantkey]
GO
ALTER TABLE [dbo].[Fumasitenants] ADD  DEFAULT ((0)) FOR [Tenantstatus]
GO
ALTER TABLE [dbo].[Fumasitenants] ADD  DEFAULT (getdate()) FOR [Tenantdatecreated]
GO
ALTER TABLE [dbo].[Fumasitenants] ADD  DEFAULT (getdate()) FOR [Tenantgolivedate]
GO
ALTER TABLE [dbo].[Permisions] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Staffroles] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Staffroles] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Staffroles] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((0)) FOR [Rolecode]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((3)) FOR [Staffstatus]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((1)) FOR [Changepassword]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((1)) FOR [Changepin]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((0)) FOR [Topuplimitvalue]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[RunningNos]  WITH CHECK ADD  CONSTRAINT [fk_RunningNos_ItemCode] FOREIGN KEY([ItemCode])
REFERENCES [dbo].[ItemCodes] ([ItemCode])
GO
ALTER TABLE [dbo].[RunningNos] CHECK CONSTRAINT [fk_RunningNos_ItemCode]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewtenantstaff]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewtenantstaff]
	@Tenantcode BIGINT,
	@Firstname VARCHAR(100),
	@Lastname VARCHAR(100),
	@Emailaddress VARCHAR(100),
	@Phonenumber VARCHAR(15),
	@Staffpass VARCHAR(100),
	@Staffpin VARCHAR(100),
	@Topuplimittype VARCHAR(50),
	@Topuplimitvalue Decimal(18,2),
	@Stationcode BIGINT,
	@Rolecode BIGINT,
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)

AS
BEGIN
   BEGIN
	DECLARE 
			@Staffcode BIGINT=0,
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Emailaddress FROM Tenantstaffs Where Emailaddress=@Emailaddress)
			BEGIN
				Select 1 as RespStatus, 'Email Already Exists!' as RespMessage;
			return;
			END
			 IF EXISTS(SELECT Phonenumber FROM Tenantstaffs Where Phonenumber=@Phonenumber)
			BEGIN
				Select 1 as RespStatus, 'Phone Number Already Exists!' as RespMessage;
			return;
			END

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'TSF'  
		Select @Staffcode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Tenantstaffs(Staffcode,Tenantcode,Firstname,Lastname,Emailaddress,Phonenumber,Staffpass,Staffpin,Topuplimittype,Topuplimitvalue,Stationcode,Rolecode,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Staffcode,@Tenantcode,@Firstname,@Lastname,@Emailaddress,@Phonenumber,@Staffpass,@Staffpin,@Topuplimittype,@Topuplimitvalue,@Stationcode,@Rolecode,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		Set @RespMsg ='Data Saved Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage,@Emailaddress AS Data1,@Firstname+' '+@Lastname as Data2,@Staffpass as Data3, @Staffpin as Data5;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewtenantstation]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewtenantstation]
	@Tenantcode BIGINT,
	@Stationname VARCHAR(100),
	@Stationref VARCHAR(100),
	@Stationaddress VARCHAR(100),
	@Lng Decimal(18,2),
	@Lat Decimal(18,2),
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)
AS
BEGIN
   BEGIN
	DECLARE 
			@Stationshiftcount INT = 1,
			@Stationcode BIGINT=0,
			@Shiftcode BIGINT=0,
			@Shiftname VARCHAR(10)='0-0',
			@Shiftstarttime Time='00:00',
			@Shiftendtime Time='11:59',
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Stationname FROM Stations Where Stationname=@Stationname)
			BEGIN
				Select 1 as RespStatus, 'Station Name Already Exists!' as RespMessage;
			return;
			END

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'SDD'  
		Select @Stationcode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Stations(Stationcode,Tenantcode,Stationname,Stationreference,Stationaddress,Lng,Lat,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Stationcode,@Tenantcode,@Stationname,@Stationref,@Stationaddress,@Lng,@Lat,@Datecreated,@Datemodified,@Createdby,@Modifiedby)
		WHILE @Stationshiftcount <= 2
		BEGIN
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'SHD'  
		Select @Shiftcode = RunNo From @RunNoTable
			BEGIN
				INSERT INTO Stationshifts(Shiftcode,Stationcode,Shiftname,Shiftstarttime,Shiftendtime,Datecreated,Datemodified,Createdby,Modifiedby)
				VALUES(@Shiftcode,@Stationcode,@Shiftname,@Shiftstarttime,@Shiftendtime,@Datecreated,@Datemodified,@Createdby,@Modifiedby)
			END
			--INSERT INTO Stationshifts(Shiftcode,Stationcode,Shiftname,Shiftstarttime,Shiftendtime,Datecreated,Datemodified,Createdby,Modifiedby)
			--VALUES(@Shiftcode,@Stationcode,'0-1','12:00','11:59',@Datecreated,@Datemodified,@Createdby,@Modifiedby)

			SET @Shiftname = '0-1';
			SET @Shiftstarttime='12:00';
			SET @Shiftendtime='11:59'
			SET @Stationshiftcount = @Stationshiftcount + 1;
		END;
		Set @RespMsg ='Data Saved Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage,@Stationcode AS Data1;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GenerateRunNo]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_GenerateRunNo]
	-- Add the parameters for the stored procedure here
	@ItemCode Varchar(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @CurrNo BIGINT

    -- Insert statements for procedure here
	Select top 1 @CurrNo = RunningNo From RunningNos Where ItemCode = @ItemCode
	If (@CurrNo IS NULL)
	Begin
		Set @CurrNo = 100
		Insert Into RunningNos(RunningNo,ItemCode) Values(@CurrNo,@ItemCode)
	End
	Else
	Begin
		Set @CurrNo = @CurrNo + 1
		Update RunningNos Set RunningNo = @CurrNo Where ItemCode = @ItemCode
	End

	SELECT @CurrNo As RunningNo
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetListModel]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_GetListModel]
@Type int
AS
BEGIN
SET NOCOUNT ON;
If(@Type = 0)
Select m.Roledescription as Text, m.Rolecode as Value From Staffroles m;
If(@Type = 1)
Select m.Stationname as Text, m.Stationcode as Value From Stations m;
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_VerifyUser]    Script Date: 10/03/2021 09:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_VerifyUser]
	@Emailaddress varchar(100)
AS
BEGIN
	SET NOCOUNT ON;
	Declare @Code int,
			@RespStat int = 0,
			@RespMsg varchar(150) = 'login success',
			@UserCode BIGINT,
			@Fullname varchar(100),
			@Phonenumber varchar(15),
			@Pwd varchar(150),
			@Pin varchar(150),
			@Rolecode int,
			@Email varchar(100),
			@Tenantconnid VARCHAR(50),
			@Tenantconnkey VARCHAR(100),
			@Tenantconndata VARCHAR(MAX)

    BEGIN TRY
		----- Get user details
		Select @UserCode = Tenantcode,@Fullname=fullname,@Phonenumber=Phonenumber, @Pwd = Staffpass,@Pin=Staffpin,@Rolecode=Rolecode,@Email=Emailaddress,@Tenantconnid=Tenantconnid,@Tenantconnkey=Tenantconnkey,@Tenantconndata=Tenantconndata From Vwtenantstafflogin Where Emailaddress = @Emailaddress
		If(@UserCode Is Null)
		Begin
			Select  1 as RespStatus, 'Invalid Username and/or Password!' as RespMessage
			Return
		End
		
		--- Create response
		Select  @RespStat as RespStatus, @RespMsg as RespMessage, @UserCode as Data1,@Fullname as Data2,@Phonenumber as Data3, @Pwd as Data4,@Pin as Data5,@Email as Data6,@Rolecode as Data7,@Tenantconnid as Data8,@Tenantconnkey as Data9,@Tenantconndata as Data10

	END TRY
	BEGIN CATCH
		SELECT @RespMsg = ERROR_MESSAGE(), @RespStat = 2;
		Select  @RespStat as RespStatus, @RespMsg as RespMessage
	END CATCH

END
GO
USE [master]
GO
