USE [master]
GO
/****** Object:  Database [Fumasitenantone]    Script Date: 10/03/2021 09:52:33 ******/
CREATE DATABASE [Fumasitenantone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fumasitenantone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Fumasitenantone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fumasitenantone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Fumasitenantone_log.ldf' , SIZE = 1056768KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fumasitenantone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fumasitenantone]
GO
/****** Object:  Table [dbo].[Tenantcustomers]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenantcustomers](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Customercode] [bigint] NOT NULL,
	[Tenantcode] [bigint] NOT NULL,
	[Firstname] [varchar](100) NOT NULL,
	[Lastname] [varchar](100) NOT NULL,
	[Phonenumber] [varchar](15) NOT NULL,
	[Emailaddress] [varchar](100) NOT NULL,
	[Customerpass] [varchar](100) NOT NULL,
	[Customerpin] [varchar](100) NOT NULL,
	[Station] [bigint] NOT NULL,
	[Canaccessprtal] [bit] NOT NULL,
	[Customergrouping] [int] NOT NULL,
	[Customertype] [int] NOT NULL,
	[Customerstatus] [int] NOT NULL,
	[Postpaidlimit] [decimal](24, 2) NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Customercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Stationcode] [bigint] NOT NULL,
	[Tenantcode] [bigint] NOT NULL,
	[Stationname] [varchar](100) NOT NULL,
	[Stationaddress] [varchar](100) NULL,
	[Stationlocation] [varchar](200) NULL,
	[Stationreference] [varchar](100) NULL,
	[Lng] [decimal](18, 2) NULL,
	[Lat] [decimal](18, 2) NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Stationcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vwtenantcustomers]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Vwtenantcustomers] AS Select TC.Customercode,TC.Tenantcode,TC.Firstname +' '+ TC.Lastname as Fullname,TC.Phonenumber,TC.Emailaddress,TS.Stationname,CASE WHEN TC.Customertype=0 THEN 'Prepaid' ELSE 'Postpaid' END as Customergouping,CASE WHEN TC.Customergrouping=0 THEN 'Individual' ELSE 'Corporate' END AS Customertype,CASE WHEN TC.Customerstatus=0 THEN 'Active' WHEN TC.Customerstatus=1 THEN 'Inactive' ELSE 'Deleted' END as Customerstatus,CASE WHEN TC.Canaccessprtal=1 THEN 'Yes' ELSE 'No' END AS Canaccessprtal,TC.Postpaidlimit  from Tenantcustomers TC INNER JOIN Stations TS ON TC.Station=TS.Stationcode
GO
/****** Object:  Table [dbo].[Customerprepaidagreement]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customerprepaidagreement](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Agreementcode] [bigint] NOT NULL,
	[Customercode] [bigint] NOT NULL,
	[Agreementtype] [bigint] NOT NULL,
	[Agreementdesc] [varchar](100) NOT NULL,
	[Agreementdoc] [varchar](100) NULL,
	[Notes] [varchar](100) NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Agreementcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Identifiers]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identifiers](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Identifiercode] [bigint] NOT NULL,
	[Identifiersno] [varchar](100) NOT NULL,
	[Identifieruid] [varchar](100) NOT NULL,
	[Identifiertype] [int] NOT NULL,
	[Isassigned] [bit] NOT NULL,
	[Isactive] [bit] NOT NULL,
	[Isdelete] [bit] NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Identifiercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Identifiertype]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identifiertype](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Typecode] [bigint] NOT NULL,
	[Typename] [varchar](100) NOT NULL,
	[Systemdate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Typecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customeragreementaccount]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customeragreementaccount](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Accountcode] [bigint] NOT NULL,
	[Accountnumber] [bigint] NOT NULL,
	[Agreementcode] [bigint] NOT NULL,
	[Hasdrivercode] [bit] NOT NULL,
	[Isactive] [bit] NOT NULL,
	[Isdelete] [bit] NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Accountnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Accountcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lnkaccountandidentifiers]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lnkaccountandidentifiers](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Accountcode] [bigint] NOT NULL,
	[Identifiercode] [bigint] NOT NULL,
	[Isparent] [bit] NOT NULL,
	[Isactive] [bit] NOT NULL,
	[Isdelete] [bit] NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Identifiercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Customerprepaidagreementdata]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Customerprepaidagreementdata] AS SELECT PA.Agreementcode,PA.Customercode,AA.Accountcode,Count(Accountnumber) as Numberofaccounts,CASE WHEN PA.Agreementtype=0 THEN 'Prepaid-Amount' ELSE 'Prepaid-Litres' END AS Agreementtype,
PA.Agreementdesc,PA.Agreementdoc,PA.Notes,AA.Accountnumber,AA.Hasdrivercode,CASE WHEN AA.Isactive=1 THEN 'Active' ELSE 'Inactive' END AS Isactive,CASE WHEN AA.Isdelete=1 THEN 'Deleted' ELSE 'Not Deleted' END AS Isdelete,ID.Identifiersno,ID.Identifieruid,IT.Typename 
FROM Customerprepaidagreement PA 
LEFT JOIN Customeragreementaccount AA ON PA.Agreementcode=AA.Agreementcode
LEFT JOIN Lnkaccountandidentifiers LCI ON LCI.Accountcode=AA.Accountcode
INNER JOIN Identifiers ID ON ID.Identifiercode=LCI.Identifiercode
INNER JOIN Identifiertype IT ON IT.Typecode=ID.identifiertype
GROUP BY
PA.Agreementcode,PA.Customercode,AA.Accountcode, PA.Agreementtype,
PA.Agreementdesc,PA.Agreementdoc,PA.Notes,AA.Accountnumber,AA.Hasdrivercode,AA.Isactive,AA.Isdelete,ID.Identifiersno,ID.Identifieruid,IT.Typename 
GO
/****** Object:  View [dbo].[Vwagreementaccounts]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Vwagreementaccounts] AS SELECT AA.Accountcode,AA.Accountnumber,AA.Agreementcode,ID.Identifiersno,ID.Identifieruid,LCI.Isparent 
FROM Customeragreementaccount AA
LEFT JOIN Lnkaccountandidentifiers LCI ON LCI.Accountcode=AA.Accountcode
INNER JOIN Identifiers ID ON LCI.Identifiercode =ID.identifiertype 
GO
/****** Object:  Table [dbo].[Agreementaccountemployee]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agreementaccountemployee](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Employeecode] [bigint] NOT NULL,
	[Accountcode] [bigint] NOT NULL,
	[Firstname] [varchar](100) NOT NULL,
	[Lastname] [varchar](100) NOT NULL,
	[Phonenumber] [varchar](15) NOT NULL,
	[Emailaddress] [varchar](100) NOT NULL,
	[Drivercode] [varchar](100) NOT NULL,
	[Isactive] [bit] NOT NULL,
	[Isdelete] [bit] NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Employeecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCodes]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](5) NOT NULL,
	[Descr] [varchar](20) NOT NULL,
 CONSTRAINT [pk_ItemCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_ItemCodes_ItemCode] UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisionroles]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisionroles](
	[Permisioncode] [bigint] NOT NULL,
	[Rolecode] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisions]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisions](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Permisioncode] [bigint] NOT NULL,
	[Permisionname] [varchar](100) NOT NULL,
	[Permisiondesc] [varchar](100) NOT NULL,
	[Systemdate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Permisioncode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RunningNos]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunningNos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RunningNo] [bigint] NOT NULL,
	[ItemCode] [varchar](5) NOT NULL,
 CONSTRAINT [pk_RunningNos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_RunningNos_ItemCode] UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffroles]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffroles](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Rolecode] [bigint] NOT NULL,
	[Rolename] [varchar](100) NOT NULL,
	[Roledescription] [varchar](100) NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Rolecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stationshifts]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stationshifts](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Shiftcode] [bigint] NOT NULL,
	[Stationcode] [bigint] NOT NULL,
	[Shiftname] [varchar](10) NOT NULL,
	[Shiftstarttime] [time](7) NOT NULL,
	[Shiftendtime] [time](7) NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Shiftcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenantstaffs]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenantstaffs](
	[Idxno] [bigint] IDENTITY(1,1) NOT NULL,
	[Staffcode] [bigint] NOT NULL,
	[Tenantcode] [bigint] NOT NULL,
	[Rolecode] [bigint] NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Emailaddress] [varchar](100) NOT NULL,
	[Phonenumber] [varchar](15) NOT NULL,
	[Staffpass] [varchar](100) NOT NULL,
	[Staffpin] [varchar](100) NOT NULL,
	[Staffstatus] [int] NOT NULL,
	[Changepassword] [int] NOT NULL,
	[Changepin] [int] NOT NULL,
	[Topuplimittype] [varchar](100) NOT NULL,
	[Topuplimitvalue] [decimal](24, 2) NOT NULL,
	[Stationcode] [bigint] NOT NULL,
	[Datecreated] [datetime] NOT NULL,
	[Datemodified] [datetime] NOT NULL,
	[Systemdate] [datetime] NOT NULL,
	[Createdby] [varchar](100) NOT NULL,
	[Modifiedby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idxno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Staffcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Emailaddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agreementaccountemployee] ADD  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Agreementaccountemployee] ADD  DEFAULT ((0)) FOR [Isdelete]
GO
ALTER TABLE [dbo].[Agreementaccountemployee] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Agreementaccountemployee] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Agreementaccountemployee] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Customeragreementaccount] ADD  DEFAULT ((0)) FOR [Hasdrivercode]
GO
ALTER TABLE [dbo].[Customeragreementaccount] ADD  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Customeragreementaccount] ADD  DEFAULT ((0)) FOR [Isdelete]
GO
ALTER TABLE [dbo].[Customeragreementaccount] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Customeragreementaccount] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Customeragreementaccount] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Customerprepaidagreement] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Customerprepaidagreement] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Customerprepaidagreement] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Identifiers] ADD  DEFAULT ((0)) FOR [Isassigned]
GO
ALTER TABLE [dbo].[Identifiers] ADD  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Identifiers] ADD  DEFAULT ((0)) FOR [Isdelete]
GO
ALTER TABLE [dbo].[Identifiers] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Identifiers] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Identifiers] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Identifiertype] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Lnkaccountandidentifiers] ADD  DEFAULT ((1)) FOR [Isparent]
GO
ALTER TABLE [dbo].[Lnkaccountandidentifiers] ADD  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Lnkaccountandidentifiers] ADD  DEFAULT ((0)) FOR [Isdelete]
GO
ALTER TABLE [dbo].[Lnkaccountandidentifiers] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Lnkaccountandidentifiers] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Lnkaccountandidentifiers] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Permisions] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Staffroles] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Staffroles] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Staffroles] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT ((0)) FOR [Lng]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT ((0)) FOR [Lat]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Stations] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Stationshifts] ADD  DEFAULT ('00:00') FOR [Shiftstarttime]
GO
ALTER TABLE [dbo].[Stationshifts] ADD  DEFAULT ('11:59') FOR [Shiftendtime]
GO
ALTER TABLE [dbo].[Stationshifts] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Stationshifts] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Stationshifts] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Tenantcustomers] ADD  DEFAULT ((0)) FOR [Canaccessprtal]
GO
ALTER TABLE [dbo].[Tenantcustomers] ADD  DEFAULT ((0)) FOR [Customerstatus]
GO
ALTER TABLE [dbo].[Tenantcustomers] ADD  DEFAULT ((0)) FOR [Postpaidlimit]
GO
ALTER TABLE [dbo].[Tenantcustomers] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Tenantcustomers] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Tenantcustomers] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((0)) FOR [Rolecode]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((3)) FOR [Staffstatus]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((1)) FOR [Changepassword]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((1)) FOR [Changepin]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT ((0)) FOR [Topuplimitvalue]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT (getdate()) FOR [Datecreated]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT (getdate()) FOR [Datemodified]
GO
ALTER TABLE [dbo].[Tenantstaffs] ADD  DEFAULT (getdate()) FOR [Systemdate]
GO
ALTER TABLE [dbo].[RunningNos]  WITH CHECK ADD  CONSTRAINT [fk_RunningNos_ItemCode] FOREIGN KEY([ItemCode])
REFERENCES [dbo].[ItemCodes] ([ItemCode])
GO
ALTER TABLE [dbo].[RunningNos] CHECK CONSTRAINT [fk_RunningNos_ItemCode]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewaccountidemployee]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewaccountidemployee]
	@Accountcode BIGINT,
	@Firstname VARCHAR(100),
	@Lastname VARCHAR(100),
	@Phonenumber VARCHAR(15),
	@Emailaddress VARCHAR(100),
	@Drivercode VARCHAR(100),
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)

AS
BEGIN
   BEGIN
	DECLARE 
			@Employeecode BIGINT=0,
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Emailaddress FROM Agreementaccountemployee Where Emailaddress=@Emailaddress)
			BEGIN
				Select 1 as RespStatus, 'Email Address Already Exists!' as RespMessage;
			return;
			END
			IF EXISTS(SELECT Phonenumber FROM Agreementaccountemployee Where Phonenumber=@Phonenumber)
			BEGIN
				Select 1 as RespStatus, 'Phone Number Already Exists!' as RespMessage;
			return;
			END
			 

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'AAE'  
		Select @Employeecode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Agreementaccountemployee(Employeecode,Accountcode,Firstname,Lastname,Phonenumber,Emailaddress,Drivercode,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Employeecode,@Accountcode,@Firstname,@Lastname,@Phonenumber,@Emailaddress,@Drivercode,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		Set @RespMsg ='Employee Added Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage,@Drivercode as Data1,@Firstname+' '+@Lastname as Data2,@Emailaddress as Data3;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewaccountidentifier]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewaccountidentifier]
	@Accountcode BIGINT,
	@Identifiertype BIGINT,
	@Identifiersno VARCHAR(50),
	@Identifieruid VARCHAR(50),
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)

AS
BEGIN
   BEGIN
	DECLARE 
			@Identifiercode BIGINT=0,
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Identifiersno FROM Identifiers Where Identifiersno=@Identifiersno)
			BEGIN
				Select 1 as RespStatus, 'Identifier Already Exists!' as RespMessage;
			return;
			END
			IF EXISTS(SELECT Identifieruid FROM Identifiers Where Identifieruid=@Identifieruid)
			BEGIN
				Select 1 as RespStatus, 'Identifier Already in Use!!' as RespMessage;
			return;
			END
			

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'ADI'  
		Select @Identifiercode = RunNo From @RunNoTable

		
		BEGIN TRANSACTION;
		INSERT INTO Identifiers(Identifiercode,identifiertype,Identifiersno,Identifieruid,Isassigned,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Identifiercode,@Identifiertype,@Identifiersno,@Identifieruid,1,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		INSERT INTO Lnkaccountandidentifiers(Identifiercode,Accountcode,Isparent,Datecreated,Datemodified,Createdby,Modifiedby)
		VALUES(@Identifiercode,@Accountcode,0,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		Set @RespMsg ='Identifier Added Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewagreementaccount]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewagreementaccount]
	@Agreementcode BIGINT,
	@Identifiercode BIGINT,
	@Hasdrivercode BIT,
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)

AS
BEGIN
   BEGIN
	DECLARE 
			@Accountcode BIGINT=0,
			@Accountnumber BIGINT=0,
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Accountnumber FROM Customeragreementaccount Where Accountnumber=@Accountnumber)
			BEGIN
				Select 1 as RespStatus, 'Account Number Already Exists!' as RespMessage;
			return;
			END
			 IF EXISTS(SELECT Identifiercode FROM Lnkaccountandidentifiers Where Identifiercode=@Identifiercode)
			BEGIN
				Select 1 as RespStatus, 'Identifier Already in Use!' as RespMessage;
			return;
			END

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'AAD'  
		Select @Accountcode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Customeragreementaccount(Accountcode,Accountnumber,Agreementcode,Hasdrivercode,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Accountcode,@Accountcode,@Agreementcode,@Hasdrivercode,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		INSERT INTO Lnkaccountandidentifiers(Identifiercode,Accountcode,Isparent,Datecreated,Datemodified,Createdby,Modifiedby)
		VALUES(@Identifiercode,@Accountcode,0,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		update Identifiers SET Isassigned=1 WHERE Identifiercode=@Identifiercode

		Set @RespMsg ='Account Created Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddnewCustomers]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_AddnewCustomers]
	@Tenantcode BIGINT,
	@Firstname VARCHAR(100),
	@Lastname VARCHAR(100),
	@Emailaddress VARCHAR(100),
	@Phonenumber VARCHAR(15),
	@Customerpass VARCHAR(100),
	@Customerpin VARCHAR(100),
	@Customertype INT,
	@Postpaidlimit DECIMAL(24,2),
	@Customergrouping INT,
	@Stationcode BIGINT,
	@Canaccessprtal BIT,
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)

AS
BEGIN
   BEGIN
	DECLARE 
			@Customercode BIGINT=0,
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Emailaddress FROM Tenantcustomers Where Emailaddress=@Emailaddress)
			BEGIN
				Select 1 as RespStatus, 'Email Already Exists!' as RespMessage;
			return;
			END
			 IF EXISTS(SELECT Phonenumber FROM Tenantcustomers Where Phonenumber=@Phonenumber)
			BEGIN
				Select 1 as RespStatus, 'Phone Number Already Exists!' as RespMessage;
			return;
			END

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'TCD'  
		Select @Customercode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Tenantcustomers(Customercode,Tenantcode,Firstname,Lastname,Emailaddress,Phonenumber,Customerpass,Customerpin,Customertype,Postpaidlimit,Customergrouping,Station,Canaccessprtal,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Customercode,@Tenantcode,@Firstname,@Lastname,@Emailaddress,@Phonenumber,@Customerpass,@Customerpin,@Customertype,@Postpaidlimit,@Customergrouping,@Stationcode,@Canaccessprtal,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		Set @RespMsg ='Data Saved Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage,@Emailaddress AS Data1,@Firstname+' '+@Lastname as Data2,@Customerpass as Data3, @Customerpin as Data5,@Canaccessprtal as Data6,@Customercode as Data7;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewprepaidagreement]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewprepaidagreement]
	@Customercode BIGINT,
	@Agreementdesc VARCHAR(100),
	@Agreementtype BIGINT,
	@Agreementdoc VARCHAR(100),
	@Notes VARCHAR(500),
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)

AS
BEGIN
   BEGIN
	DECLARE 
			@Agreementcode BIGINT=0,
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'TPA'  
		Select @Agreementcode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Customerprepaidagreement(Agreementcode,Customercode,Agreementdesc,Agreementtype,Agreementdoc,Notes,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Agreementcode,@Customercode,@Agreementdesc,@Agreementtype,@Agreementdoc,@Notes,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		Set @RespMsg ='Data Saved Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage,@Agreementcode AS Data1;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewtenantstaff]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewtenantstaff]
	@Tenantcode BIGINT,
	@Firstname VARCHAR(100),
	@Lastname VARCHAR(100),
	@Emailaddress VARCHAR(100),
	@Phonenumber VARCHAR(15),
	@Staffpass VARCHAR(100),
	@Staffpin VARCHAR(100),
	@Topuplimittype VARCHAR(50),
	@Topuplimitvalue Decimal(18,2),
	@Stationcode BIGINT,
	@Rolecode BIGINT,
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)

AS
BEGIN
   BEGIN
	DECLARE 
			@Staffcode BIGINT=0,
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Emailaddress FROM Tenantstaffs Where Emailaddress=@Emailaddress)
			BEGIN
				Select 1 as RespStatus, 'Enail Already Exists!' as RespMessage;
			return;
			END
			 IF EXISTS(SELECT Phonenumber FROM Tenantstaffs Where Phonenumber=@Phonenumber)
			BEGIN
				Select 1 as RespStatus, 'Phone Number Already Exists!' as RespMessage;
			return;
			END

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'TSF'  
		Select @Staffcode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Tenantstaffs(Staffcode,Tenantcode,Firstname,Lastname,Emailaddress,Phonenumber,Staffpass,Staffpin,Topuplimittype,Topuplimitvalue,Stationcode,Rolecode,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Staffcode,@Tenantcode,@Firstname,@Lastname,@Emailaddress,@Phonenumber,@Staffpass,@Staffpin,@Topuplimittype,@Topuplimitvalue,@Stationcode,@Rolecode,@Datecreated,@Datemodified,@Createdby,@Modifiedby)

		Set @RespMsg ='Data Saved Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage,@Emailaddress AS Data1,@Firstname+' '+@Lastname as Data2,@Staffpass as Data3, @Staffpin as Data5;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Addnewtenantstation]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Addnewtenantstation]
	@Tenantcode BIGINT,
	@Stationname VARCHAR(100),
	@Stationref VARCHAR(100),
	@Stationaddress VARCHAR(100),
	@Lng Decimal(18,2),
	@Lat Decimal(18,2),
	@Datecreated DateTime,
	@Datemodified DateTime,
	@Createdby  VARCHAR(100),
	@Modifiedby  VARCHAR(100)
AS
BEGIN
   BEGIN
	DECLARE 
			@Stationshiftcount INT = 1,
			@Stationcode BIGINT=0,
			@Shiftcode BIGINT=0,
			@Shiftname VARCHAR(10)='0-0',
			@Shiftstarttime Time='00:00',
			@Shiftendtime Time='11:59',
			@RespStat int = 0,
			@RespMsg varchar(150) = ''
			BEGIN
	
		BEGIN TRY	
		--Validate
		  IF EXISTS(SELECT Stationname FROM Stations Where Stationname=@Stationname)
			BEGIN
				Select 1 as RespStatus, 'Station Name Already Exists!' as RespMessage;
			return;
			END

		Declare @RunNoTable TABLE (RunNo Varchar(20))
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'SDD'  
		Select @Stationcode = RunNo From @RunNoTable
		
		BEGIN TRANSACTION;
		INSERT INTO Stations(Stationcode,Tenantcode,Stationname,Stationreference,Stationaddress,Lng,Lat,Datecreated,Datemodified,Createdby,Modifiedby) 
		VALUES(@Stationcode,@Tenantcode,@Stationname,@Stationref,@Stationaddress,@Lng,@Lat,@Datecreated,@Datemodified,@Createdby,@Modifiedby)
		WHILE @Stationshiftcount <= 2
		BEGIN
		INSERT INTO @RunNoTable Exec Usp_GenerateRunNo 'SHD'  
		Select @Shiftcode = RunNo From @RunNoTable
			BEGIN
				INSERT INTO Stationshifts(Shiftcode,Stationcode,Shiftname,Shiftstarttime,Shiftendtime,Datecreated,Datemodified,Createdby,Modifiedby)
				VALUES(@Shiftcode,@Stationcode,@Shiftname,@Shiftstarttime,@Shiftendtime,@Datecreated,@Datemodified,@Createdby,@Modifiedby)
			END
			--INSERT INTO Stationshifts(Shiftcode,Stationcode,Shiftname,Shiftstarttime,Shiftendtime,Datecreated,Datemodified,Createdby,Modifiedby)
			--VALUES(@Shiftcode,@Stationcode,'0-1','12:00','11:59',@Datecreated,@Datemodified,@Createdby,@Modifiedby)

			SET @Shiftname = '0-1';
			SET @Shiftstarttime='12:00';
			SET @Shiftendtime='11:59'
			SET @Stationshiftcount = @Stationshiftcount + 1;
		END;
		Set @RespMsg ='Data Saved Successfully.'
		Set @RespStat =0; 
		COMMIT TRANSACTION;
		Select @RespStat as RespStatus, @RespMsg as RespMessage,@Stationcode AS Data1;

		END TRY
		BEGIN CATCH
		ROLLBACK TRANSACTION
		PRINT ''
		PRINT 'Error ' + error_message();
		Select 2 as RespStatus, '0 - Error(s) Occurred' + error_message() as RespMessage
		END CATCH
		Select @RespStat as RespStatus, @RespMsg as RespMessage;
		RETURN; 
		END;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GenerateRunNo]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usp_GenerateRunNo]
	-- Add the parameters for the stored procedure here
	@ItemCode Varchar(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @CurrNo BIGINT

    -- Insert statements for procedure here
	Select top 1 @CurrNo = RunningNo From RunningNos Where ItemCode = @ItemCode
	If (@CurrNo IS NULL)
	Begin
		Set @CurrNo = 100
		Insert Into RunningNos(RunningNo,ItemCode) Values(@CurrNo,@ItemCode)
	End
	Else
	Begin
		Set @CurrNo = @CurrNo + 1
		Update RunningNos Set RunningNo = @CurrNo Where ItemCode = @ItemCode
	End

	SELECT @CurrNo As RunningNo
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetListModel]    Script Date: 10/03/2021 09:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_GetListModel]
@Type int
AS
BEGIN
SET NOCOUNT ON;
If(@Type = 0)
Select m.Roledescription as Text, m.Rolecode as Value From Staffroles m;
If(@Type = 1)
Select m.Stationname as Text, m.Stationcode as Value From Stations m;
If(@Type = 2)
Select m.Identifieruid as Text, m.Identifiercode as Value From Identifiers m;
If(@Type = 3)
Select m.Typename as Text, m.Typecode as Value From Identifiertype m;
END
GO
USE [master]
GO
