@model DBL.Entities.Customerprepaidagreement
@using DBL.Helpers;
@{
    EncryptDecrypt sec = new EncryptDecrypt();
    var Limittypes = ViewData["limittypes"] as List<SelectListItem>;
    var Pricelist = ViewData["pricelist"] as List<SelectListItem>;
    var Discountlist = ViewData["discountlist"] as List<SelectListItem>;
    var Loyaltygrouping = ViewData["Loyaltylist"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="AllagreementsModalLabel">Prepaid Agreement Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Addprepaidagreement" asp-controller="Agreements" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <input asp-for="Customercode" hidden />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Agreementdesc"></label>
                    <input asp-for="Agreementdesc" class="form-control form-control-sm" />
                    <span asp-validation-for="Agreementdesc" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Limit Value Type</label>
                    <select asp-for="Typecode" class="form-control form-control-sm" asp-items="@Limittypes">
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Loyalty Grouping</label>
                    <select asp-for="Loyoltycode" class="form-control form-control-sm" asp-items="@Loyaltygrouping">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Price list</label>
                    <select asp-for="Pricelistcode" class="form-control form-control-sm" asp-items="@Pricelist">
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Discount List</label>
                    <select asp-for="Discountlistcode" class="form-control form-control-sm" asp-items="@Discountlist">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Agreementfile"></label>
                    <input asp-for="Agreementfile" type="file" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Notes"></label>
                    <textarea asp-for="Notes" class="form-control form-control-sm"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Save">
    </div>
</form>