@model DBL.Entities.Customeroneoffagreement
@using DBL.Helpers;
@{
    EncryptDecrypt sec = new EncryptDecrypt();
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="AllagreementsModalLabel">Oneoff Agreement Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Prepaidagreement" asp-controller="Agreements" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <input asp-for="Custcode" hidden />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Agreementdesc"></label>
                    <input asp-for="Agreementdesc" class="form-control form-control-sm" />
                    <span asp-validation-for="Agreementdesc" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Limit Value Type</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Loyalty Grouping</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Price List</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Discount List</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Startdate"></label>
                    <input asp-for="Startdate" type="date" class="form-control form-control-sm" />
                    <span asp-validation-for="Startdate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Enddate">Due Date</label>
                    <input asp-for="Enddate" type="date" class="form-control form-control-sm" />
                    <span asp-validation-for="Enddate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Amount</label>
                    <input asp-for="Limitvalue" class="form-control form-control-sm" />
                    <span asp-validation-for="Limitvalue" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Grace Perios</label>
                    <input asp-for="Graceperiod" class="form-control form-control-sm" />
                    <span asp-validation-for="Graceperiod" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Billing Basis</label>
                    <input asp-for="Limitvalue" class="form-control form-control-sm" />
                    <span asp-validation-for="Limitvalue" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Billing Cycle</label>
                    <input asp-for="Graceperiod" class="form-control form-control-sm" />
                    <span asp-validation-for="Graceperiod" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label> Agreement Ref</label>
                    <input asp-for="Notes" class="form-control form-control-sm"/>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Agreementdoc"></label>
                    <input asp-for="Agreementdoc" type="file" />
                    <span asp-validation-for="Agreementdoc" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Save">
    </div>
</form>