@model DBL.Entities.Customerrecurrentagreement
@using DBL.Helpers;
@{
    EncryptDecrypt sec = new EncryptDecrypt();
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="AllagreementsModalLabel">Recurrent Agreement Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Prepaidagreement" asp-controller="Agreements" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <input asp-for="Custcode" hidden />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Agreementdesc"></label>
                    <input asp-for="Agreementdesc" class="form-control form-control-sm" />
                    <span asp-validation-for="Agreementdesc" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Limit Value Type</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Loyalty Grouping</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Price List</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Discount List</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Prepaid Amount</option>
                        <option value="1">Prepaid Litres</option>
                    </select>
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Allowed debt</label>
                    <input asp-for="Agreementtype" class="form-control form-control-sm" />
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Comsumption Limit</label>
                    <input asp-for="Loyaltygrouping" class="form-control form-control-sm" />
                    <span asp-validation-for="Loyaltygrouping" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Start Date</label>
                    <input asp-for="Agreementtype" class="form-control form-control-sm" />
                    <span asp-validation-for="Agreementtype" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label> Grace Period</label>
                    <input asp-for="Loyaltygrouping" class="form-control form-control-sm" />
                    <span asp-validation-for="Loyaltygrouping" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Billing Basis</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Consumed</option>
                        <option value="1">Fixed</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Billing Cycle Type</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">Weekly</option>
                        <option value="1">Monthly</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Billing Cycle If Wekly</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">7 Weeks</option>
                        <option value="1">14 Weeks</option>
                        <option value="1">21 Weeks</option>
                        <option value="1">28 Weeks</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Biling day if Monthly</label>
                    <select asp-for="Agreementtype" class="form-control form-control-sm">
                        <option value="0">1-28</option>
                        <option value="1">Monthly</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label> Agreement Ref</label>
                    <input asp-for="Notes" class="form-control form-control-sm" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Agreementdoc"></label>
                    <input asp-for="Agreementdoc" type="file" />
                    <span asp-validation-for="Agreementdoc" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Save">
    </div>
</form>
