
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layoutauth.cshtml";
}
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="form-group">
            <select class="form-control form-control-sm">
                <option value="0" class="text-center">----Select Report to Run----</option>
                <option>Sales Transaction</option>
                <option>Sales Transaction</option>
                <option>Sales Transaction</option>
                <option>Sales Transaction</option>
                <option>Sales Transaction</option>
                <option>Sales Transaction</option>
            </select>
        </div>
    </div>
</div>